body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightslategray;
}

h1 {
    color: lightgreen;
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
    border-style: double;
    border: 5px;
    border-style: double;
    border-color: lightgreen;
}

button,
.list-home {
    color: lightseagreen;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    list-style: none;
}

button {
    background-color: darkslategray;
    border-style: double;
}

h3 {
    color: lightgreen;
    border-style: hidden hidden double hidden;
    border-width: 5px;
    border-color: lightgreen;
    letter-spacing: 1px;
}